
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

:root {
    --main-bg-color: #252631;;
  }
*{
    margin: 0;
    padding: 0;
}
header{
    
    background-color:var(--main-bg-color);
    color: white;
    font-family: 'Anton', sans-serif;

    font-family: 'Playfair Display', serif;
    
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 130px;
    padding: 0 25px;
}
nav{
    display: flex;
}
nav ul{
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0 23px;

}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(81, 153, 182);
    font-weight: bolder;
}
.search{
    display: flex;
align-items: center;

}
.search input{
    width: 30vw;
    height: 23px;
    border-radius: 6px;
    padding:0 12px;
    
    

}
.search1{
    display: flex;
width: 22px;
height: 23px;
margin: 0 2px 0 2px;
border-radius: 6px;
cursor: pointer;

}
.shoes img{

    width: 22vw;
}
.slider{
    width: 80vw;
    overflow: hidden;
    margin: 2px 50vh 0 50vh;
}
.card{
    background-color: #00ffcf17;
    margin: 34px 90px 29px 96px;
}
.card{
    
    font-family: 'Uchen', serif;
    width: 91vw;
    margin: 12px auto;
   
}
.card2{
    background-color: #e9cf5b59;
    margin: 34px 90px 29px 96px;
}
.card2{
    
    font-family: 'Uchen', serif;
    width: 91vw;
    margin: 12px auto;
   
}
.card3{
    background-color: #f0abea75;
    margin: 34px 90px 29px 96px;
}
.card3{
    
    font-family: 'Uchen', serif;
    width: 91vw;
    margin: 12px auto;
   
}
.card4{
    background-color: #b4f38aa1;
    margin: 34px 90px 29px 96px;
}
.card4{
    
    font-family: 'Uchen', serif;
    width: 91vw;
    margin: 12px auto;
   
}

.card-item{
    display:inline-flex;
    justify-content: normal;
    flex-direction: column;
    
}
.img2{
    margin: 0px 51px;
}
.img3{
    margin: 0px 22px;
}
.img4{
    margin: 0px 30px;
}
.img5{
    margin: 0px 51px;
}
.img13{
    margin: 0px 36px;
}
.card-item2{
    display:inline-flex;
    justify-content: normal;
    flex-direction: column;
    
}
.card-item3{
    display:inline-flex;
    justify-content: normal;
    flex-direction: column;
    
}
.card-item4{
    display:inline-flex;
    justify-content: normal;
    flex-direction: column;
    
}
.card-item5{
    display:inline-flex;
    justify-content: normal;
    flex-direction: column;
    
}


.card h2{
    font-family: 'Playfair Display', serif;

}
.container{
    min-height: calc(100vh - 70px - 12vh);

}
footer{
    height: 12vh;
    background-color: black;
    color: white;
    font-family: 'Playfair Display', serif;
}