.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
btn{
    
}
.my-1{
    margin: 26px 0;
}
.text-center1{
    text-align: center;
    margin: 7px -136px -22px -169px;
    
}
.text-center2{
    text-align: center;
    margin: 15px 50px -12px 22px;
}
.text-center3{
    text-align: center;
    margin: 3px 76px 7px 51px;
}
.text-center4{
    text-align: center;
    margin: 7px -136px -22px -169px;
    
}
.text-center5{
    text-align: center;
    margin: 15px 50px -12px 22px;
}
.text-center6{
    text-align: center;
    margin: 3px 76px 7px 51px;
}
.text-center7{
    text-align: center;
    margin: 7px -136px -22px -169px;
    
}
.text-center8{
    text-align: center;
    margin: 15px 50px -12px 22px;
}
.text-center9{
    text-align: center;
    margin: 3px 76px 7px 51px;
}
.text-center10{
    text-align: center;
    margin: 7px -136px -22px -169px;
    
}
.text-center11{
    text-align: center;
    margin: 15px 50px -12px 22px;
}
.text-center12{
    text-align: center;
    margin: 3px 76px 7px 51px;
}
.text-center13{
    text-align: center;
    margin: 7px -136px -22px -169px;
    
}
.text-center14{
    text-align: center;
    margin: 15px 50px -12px 22px;
}
.text-center15{
    text-align: center;
    margin: 3px 76px 7px 51px;
}